{% extends 'base.html' %}


{%block content%}
{{articles.quote}}
{{articles.author}}
<div class="container-fluid">

    <div class="row">
      <div class="col-md-1">
          {% for post in posts%}
  
  
          <h1 >{{post.category}}</h1>
  
          <h2 ><a href="{{url_for('main.comments',id = post.id)}}">{{post.title}}</a> </h2>
          <p class="text-primary">posted on :{{post.created_at.strftime('%d %b %Y') }}</p>
          <h2 >{{post.content}}</h2>
  
      <hr />
  
      <button class="btn btn-warning btn-lg"><a  href="{{url_for('main.edit',id=post.id)}}">Update</a></button>
              
      <button class="btn btn-danger btn-lg"><a  href="{{url_for('main.delete',id=post.id)}}">Delete</a></button>
  
          {%endfor%}
  
      </div>
    </div>
  </div>
  
{%endblock%}